* {
	box-sizing: border-box;
	font-family: Cambria, serif;
}

h1 {
	color: blue;
	font-size: 175%;
	text-align: center;
}

section {
	border: 1px solid black;
	background-color: tan;
	height: 450px;
	overflow: auto;
}

h2 {
	float: right;
	border: 1px solid black;
	font-size: 125%;
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 5px 20px 5px 20px;
}

p {
	overflow: auto;
	clear: right;
}

section {
	border: 1px solid black;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 5px;
	padding-top: 5px;
	font-weight: bold;
	float: right;
}

#s1 {
	background-color: pink;
}

#s2 {
	background-color: red;
	color: white;
}

#s3 {
	background-color: yellow;
}

@media (min-width: 992px) {
  .col-desktop-1, .col-desktop-2, .col-desktop-3, .col-desktop-4,
    .col-desktop-5, .col-desktop-6, .col-desktop-7, .col-desktop-8,
    .col-desktop-9, .col-desktop-10, .col-desktop-11, .col-desktop-12 {
    	float: left;
    	padding: 15px;
    }
  .col-desktop-1 {
  	width: 8.33%;
  }
  .col-desktop-2 {
  	width: 16.66%;
  }
  .col-desktop-3 {
  	width: 25%;
  }
  .col-desktop-4 {
  	width: 33.33%;
  }
  .col-desktop-5 {
  	width: 41.66%;
  }
  .col-desktop-6 {
  	width: 50%;
  }
  .col-desktop-7 {
  	width: 58.33%;
  }
  .col-desktop-8 {
  	width: 66.66%;
  }
  .col-desktop-9 {
  	width: 75%;
  }
  .col-desktop-10 {
  	width: 83.33%;
  }
  .col-desktop-11 {
  	width: 91.66%;
  }
  .col-desktop-12 {
  	width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-tablet-1, .col-tablet-2, .col-tablet-3, .col-tablet-4,
    .col-tablet-5, .col-tablet-6, .col-tablet-7, .col-tablet-8,
    .col-tablet-9, .col-tablet-10, .col-tablet-11, .col-tablet-12 {
    	float: left;
    	padding: 15px;
    }
  .col-tablet-1 {
  	width: 8.33%;
  }
  .col-tablet-2 {
  	width: 16.66%;
  }
  .col-tablet-3 {
  	width: 25%;
  }
  .col-tablet-4 {
  	width: 33.33%;
  }
  .col-tablet-5 {
  	width: 41.66%;
  }
  .col-tablet-6 {
  	width: 50%;
  }
  .col-tablet-7 {
  	width: 58.33%;
  }
  .col-tablet-8 {
  	width: 66.66%;
  }
  .col-tablet-9 {
  	width: 75%;
  }
  .col-tablet-10 {
  	width: 83.33%;
  }
  .col-tablet-11 {
  	width: 91.66%;
  }
  .col-tablet-12 {
  	width: 100%;
  }

@media (max-width: 767px) {
  .col-mobile-1, .col-mobile-2, .col-mobile-3, .col-mobile-4,
    .col-mobile-5, .col-mobile-6, .col-mobile-7, .col-mobile-8,
    .col-mobile-9, .col-mobile-10, .col-mobile-11, .col-mobile-12 {
    	float: left;
    	padding: 15px;
    }
  .col-mobile-1 {
  	width: 8.33%;
  }
  .col-mobile-2 {
  	width: 16.66%;
  }
  .col-mobile-3 {
  	width: 25%;
  }
  .col-mobile-4 {
  	width: 33.33%;
  }
  .col-mobile-5 {
  	width: 41.66%;
  }
  .col-mobile-6 {
  	width: 50%;
  }
  .col-mobile-7 {
  	width: 58.33%;
  }
  .col-mobile-8 {
  	width: 66.66%;
  }
  .col-mobile-9 {
  	width: 75%;
  }
  .col-mobile-10 {
  	width: 83.33%;
  }
  .col-mobile-11 {
  	width: 91.66%;
  }
  .col-mobile-12 {
  	width: 100%;
  }
}
